// colors
$green:           #6a9d00;
$purple:          #6A019E;
$header-blue:     #4a90e2;

// objects
$title:           $green;

$link:            #ddd;
$body-background: #FBFCFE;
$body-color:      $header-blue;
$body-gray:       #ccc;

