<nav class="navbar navbar-default">
  <div class="container">
    <div class="">
      <!-- Menu -->
      <div class="menu pull-right hidden-xs">
        <img src="/images/zoom-white.png" height="30px">
      </div>
      <div class="title">
        <a href="/">
          <img src="/images/bigelowlaboratory.svg" height="40px">
        </a>
      </div>
    </div>
  </div>
  
  <center>
    <div class="instant-search" id="meeting-selection">
      <form action="/search" method="GET">
        <select id="meeting-room" class="hd-query">
          <option disabled selected value="select">Select a Meeting Room / Meeting ID</option>
          <option disabled></option>
          <option value="2073152566">Boardroom (207 315 2566)</option>
          <option value="2073152567">Classroom (207 315 2567)</option>
          <option value="2073152568">Alfond Room (207 315 2568)</option>
          <option disabled></option>
          <option value="2073152000">Webinar (207 315 2000)</option>
          <option disabled></option>
          <option value="2073152561">Pro 1 (207 315 2561)</option>
          <option value="2073152562">Pro 2 (207 315 2562)</option>
          <option value="2073152563">Pro 3 (207 315 2563)</option>
          <option value="2073152564">Pro 4 (207 315 2564)</option>
          <option disabled value="other" hidden>Other</option>
        </select>
      </form>
      <span id="arrow" class="fa fa-search"></span>
    </div>


    <div class="menu" style="margin-top:30px;">
    <a href="/#faq">FAQ</a>
    <a href="https://zoom.us/download#client_4meeting" target="_blank">Download Zoom</a>
    <a href="https://wiki.bigelow.org/zoom" target="_blank">Bigelow Wiki</a>
    <a href="https://www.bigelow.org" target="_blank">Bigelow.org</a>
    </div>
  </center> 
  
  <div class="container-fluid">
    
  </div>
</nav>