<footer class="footer">
  <div class="container">
    
    <!-- <div class="row">
      <div class="box">
        <h3>Easy static website editing using TravisCI and Forestry.io</h3>
        <p class="sans">Overview One drawback to static websites is ease of management. After working with static website compilers for the past few years, I have finally settled on a process that makes management a breeze.</p>
      </div>
      <div class="box">
        <h3>Easy static website editing using TravisCI and Forestry.io</h3>
        <p>Overview One drawback to static websites is ease of management. After working with static website compilers for the past few years, I have finally settled on a process that makes management a breeze.</p>
      </div>
    </div> -->
    
    <div class="row">
      <div class="col-sm-2 col-xs-hidden">
      </div>
      
      <div class="col-xs-12 col-sm-8">
        <center>
          <img src="/images/photos/kevin-guay.jpg" width="120px" style="border-radius: 50%">
        </center>
        <br>
        <center>
          <p>Kevin Guay is the Director of IT at Bigelow Laboratory for Ocean Sciences. While not at work, Kevin enjoys woodworking and rock climbing.</p>
          <p>Follow on <a href="https://twitter.com/@KevinCGuay" target="_blank">Twitter</a>, <a href="https://github.com/kguay" target="_blank">GitHub</a>, and <a href="https://www.instagram.com/kevin.c.guay/" target="_blank">Instagram</a></p>
          <!-- <a class="twitter-follow-button" href="https://twitter.com/@KevinCGuay" data-size="large" data-show-count="false" target="_blank">Follow @kevincguay</a>
          &nbsp;&nbsp;
          <a class="github-button" href="https://github.com/kguay" data-size="large" aria-label="Follow @kguay on GitHub">Follow @kguay</a> -->
        </center>
      </div>
      
    </div>
  </div>
</footer>



<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));
</script>